@page "/grupos"

@inject Sotsera.Blazor.Toaster.IToaster Toaster
@inject HttpClient client
@inject IJSRuntime js

<AuthorizeView Context="authContext">
    <Authorized>
        <Container Fluid="true">
            <Row>
                <Breadcrumb Mode="BreadcrumbMode.Auto">
                    <BreadcrumbItem>
                        <BreadcrumbLink To="">Início</BreadcrumbLink>
                    </BreadcrumbItem>
                    <BreadcrumbItem>
                        <BreadcrumbLink To="#">Tabelas</BreadcrumbLink>
                    </BreadcrumbItem>
                    <BreadcrumbItem>
                        <BreadcrumbLink To="grupos">Grupos</BreadcrumbLink>
                    </BreadcrumbItem>
                </Breadcrumb>
            </Row>
            <Row>
                <Column ColumnSize="ColumnSize.Is6.OnDesktop.Is12.OnMobile">
                    <Card>
                        <CardBody>
                            <CardTitle Size="5">Grupos</CardTitle>
                            <CardText>
                                <SpinLoader IsLoading="@(grupos == null)">
                                    <LoadingTemplate>
                                        <div class="modal-overlay">
                                            <Chase Color="#ff0000" Size="60px" Center="true" />
                                        </div>
                                    </LoadingTemplate>
                                    <ContentTemplate>
                                        @if (grupos.Length == 0)
                                        {
                                            <text>Não foram encontrados registos na base de dados</text>
                                        }
                                        else
                                        {
                                            <Table Striped="true" Bordered="true" Hoverable="true" FullWidth="false">
                                                <TableHeader ThemeContrast="ThemeContrast.Light">
                                                    <TableRow>
                                                        <TableHeaderCell>Menu</TableHeaderCell>
                                                        <TableHeaderCell>Nome</TableHeaderCell>
                                                        @if (@authContext.User.IsInRole("temp")) //substituir por Admin
                                                        {
                                                            <TableHeaderCell>Criado em:</TableHeaderCell>
                                                            <TableHeaderCell>Criado por:</TableHeaderCell>
                                                            <TableHeaderCell>Atualizado em:</TableHeaderCell>
                                                            <TableHeaderCell>Atualizado por:</TableHeaderCell>
                                                        }
                                                    </TableRow>
                                                </TableHeader>
                                                <TableBody>
                                                    @foreach (Grupo grupo in grupos)
                                                    {
                                                        <TableRow>
                                                            <TableRowCell>
                                                                <Tooltip Text="Editar Grupo">
                                                                    <Button Color="Color.Info" Clicked="@(() => PrepareForEdit(grupo))"
                                                                            data-toggle="modal" data-target="#grupoModal">
                                                                        <Icon Name="IconName.Edit" />
                                                                    </Button>
                                                                </Tooltip>
                                                                <Tooltip Text="Apagar Grupo">
                                                                    <Button Color="Color.Danger" Clicked="@(() => PrepareForDelete(grupo.ID))"
                                                                            data-toggle="modal" data-target="#confirmDeleteModal">
                                                                        <Icon Name="IconName.Delete" />
                                                                    </Button>
                                                                </Tooltip>
                                                            </TableRowCell>
                                                            <TableRowCell>@grupo.Nome</TableRowCell>
                                                            @if (@authContext.User.IsInRole("temp")) //substituir por Admins
                                                            {
                                                                <TableRowCell>@grupo.CreatedAt</TableRowCell>
                                                                <TableRowCell>@grupo.CreatedBy</TableRowCell>
                                                                <TableRowCell>@grupo.LastUpdatedAt</TableRowCell>
                                                                <TableRowCell>@grupo.LastUpdatedBy</TableRowCell>
                                                            }
                                                        </TableRow>
                                                    }
                                                </TableBody>
                                            </Table>
                                        }
                                    </ContentTemplate>
                                    <FaultedContentTemplate>

                                        <text>ERRO!</text>

                                    </FaultedContentTemplate>
                                </SpinLoader>
                            </CardText>
                            <CardFooter>
                                <Tooltip Text="Criar novo Grupo">
                                    <Button Color="Color.Success" Clicked="@(() => PrepareToAdd())"
                                            data-toggle="modal" data-target="#grupoModal">
                                        Criar <Icon Name="IconName.Add" />
                                    </Button>
                                </Tooltip>
                            </CardFooter>
                        </CardBody>
                    </Card>
                </Column>
            </Row>
        </Container>

        <ConfirmDialog OnClick="@Delete">
            <ConfirmText>
                <p>Deseja de apagar @itemToDelete ?</p>
                <p>Não será possível recuperar este registo!</p>
            </ConfirmText>
        </ConfirmDialog>
        <GrupoModal Model=Model DataChanged="@DataChanged">
            <CustomHeader>@customHeader</CustomHeader>
        </GrupoModal>

    </Authorized>
    <NotAuthorized>
        <p>Não está logado.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    Grupo[] grupos { get; set; }
    Grupo Model = new Grupo();
    Guid GrupoToDelete { get; set; }
    string itemToDelete = string.Empty;
    string customHeader = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        grupos = await client.GetFromJsonAsync<Grupo[]>("api/grupo");
    }

    private async void DataChanged()
    {
        await OnInitializedAsync();
        StateHasChanged();
    }

    private void PrepareToAdd()
    {
        Model = new Grupo();
        customHeader = "Adicionar Grupo";
    }

    private void PrepareForEdit(Grupo Grupo)
    {
        customHeader = "Editar Grupo";
        Model = Grupo;
    }

    private void PrepareForDelete(Guid Id)
    {
        GrupoToDelete = Id;
        var grupo = grupos.First(x => x.ID == GrupoToDelete);
        itemToDelete = grupo.Nome;
    }

    async Task Delete()
    {
        await client.DeleteAsync($"api/grupo/{GrupoToDelete}");

        await js.InvokeAsync<object>("global.closeModal", "confirmDeleteModal");

        await Task.Delay(100);
        Toaster.Error("Grupo apagado com sucesso", "Sucesso!");

        await OnInitializedAsync();
    }
}