@inject Sotsera.Blazor.Toaster.IToaster Toaster
@inject HttpClient http
@inject IJSRuntime js

<Modal @ref="@Modal" role="dialog" id="formandoModal">
    <ModalBackdrop />
    <ModalContent Centered="true" Size="ModalSize.Large">
        <ModalHeader>
            <ModalTitle>@CustomHeader</ModalTitle>
            <CloseButton Clicked="@(() => CloseModal("formandoModal"))" />
        </ModalHeader>
        <EditForm Model="@Model" OnValidSubmit="@HandleValidSubmit">
            <ModalBody>
                <DataAnnotationsValidator />
                <input type="hidden" @bind-value="@Model.ID" />
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is2">Número</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is10">
                        <NumericEdit  @bind-Value="@Model.Numero">
                            <FieldHelp>Inserir número de funcionário</FieldHelp>
                        </NumericEdit>
                        <ValidationMessage For="@(() => Model.Numero)" />
                    </FieldBody>
                </Field>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is2">Nome</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is10">
                        <TextEdit @bind-Text="@Model.Nome">
                            <FieldHelp>Inserir nome do colaborador</FieldHelp>
                        </TextEdit>
                        <ValidationMessage For="@(() => Model.Nome)" />
                    </FieldBody>
                </Field>
                <Fields>
                    <Field ColumnSize="ColumnSize.Is6.OnDesktop">
                        <FieldLabel>Unidade de handling</FieldLabel>
                        @if (uhs != null)
                        {
                            <Select TValue="Guid" @bind-SelectedValue="@Model.UhID">
                                <SelectItem Value="@Guid.Empty">Selecionar</SelectItem>
                                @foreach (var uh in uhs)
                                {
                                    <SelectItem Value="@uh.ID">@uh.IATA</SelectItem>
                                }
                                <FieldHelp>por favor selecionar a UH</FieldHelp>
                            </Select>
                        }
                    </Field>
                    <Field ColumnSize="ColumnSize.Is6.OnDesktop">
                        <FieldLabel>Departamento</FieldLabel>
                            @if (departamentos != null)
                            {
                                <Select TValue="Guid" @bind-SelectedValue="@Model.DepartamentoID">
                                    <SelectItem Value="@Guid.Empty">Selecionar</SelectItem>
                                    @foreach (var dep in departamentos)
                                    {
                                        <SelectItem Value="@dep.ID">@dep.Nome</SelectItem>
                                    }
                                    <FieldHelp>por favor selecionar o departamento</FieldHelp>
                                </Select>
                            }
                    </Field>
                </Fields>
            </ModalBody>
            <ModalFooter>
                <Tooltip Text="Gravar">
                    <Button Color="Color.Success" Type="ButtonType.Submit">
                        <Icon Name="IconName.Save" /> Submeter
                    </Button>
                </Tooltip>
                <Tooltip Text="Fechar">
                    <Button Color="Color.Warning" Clicked="@(() => CloseModal("formandoModal"))">
                        <Icon Name="IconName.StepBackward" /> Cancelar
                    </Button>
                </Tooltip>
            </ModalFooter>
        </EditForm>
    </ModalContent>
</Modal>

@code{
    private Modal Modal;
    [Parameter] public Action DataChanged { get; set; }
    [Parameter] public RenderFragment CustomHeader { get; set; }
    [Parameter] public Formando Model { get; set; }
    Uh[] uhs;
    Departamento[] departamentos;

    protected override async Task OnInitializedAsync()
    {
        uhs = await http.GetFromJsonAsync<Uh[]>("api/uh");
        departamentos = await http.GetFromJsonAsync<Departamento[]>("api/departamento");
    }

    private async void HandleValidSubmit()
    {
        if (Model.ID == Guid.Empty)
        {
            await http.PostAsJsonAsync("api/formando", Model);
            Toaster.Success("Curso adicionado com sucesso", "Sucesso!");
        }
        else
        {
            await http.PutAsJsonAsync("api/formando", Model);
            Toaster.Info("Curso editado com sucesso", "Sucesso!");
        }

        await CloseModal("formandoModal");
        DataChanged?.Invoke();
    }

    private async Task CloseModal(string modalId)
    {
        await js.InvokeAsync<object>("global.closeModal", modalId);
    }
}